form {
    margin: 30px auto;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
}

label {
    text-align: left;
    padding-top: 7px;
    margin-right: 30px;

}

input[type="text"] {
    margin-left: 31px;
}

input[type="date"],
input[type="time"]
 {
    margin-left: 25px;
}

input[type="date"],
input[type="time"],
input[type="text"],
select {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;

}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #252f3e;
    color: #fff;
    border: none;
    border-radius: 5px;
}

p {
    margin-top: 15px;
    
}